<script src="/adminAssets/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="/adminAssets/vendors/chart.js/Chart.min.js"></script>
<script src="/adminAssets/vendors/progressbar.js/progressbar.min.js"></script>
<script src="/adminAssets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
<script src="/adminAssets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="/adminAssets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/adminAssets/js/off-canvas.js"></script>
<script src="/adminAssets/js/hoverable-collapse.js"></script>
<script src="/adminAssets/js/misc.js"></script>
<script src="/adminAssets/js/settings.js"></script>
<script src="/adminAssets/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="/adminAssets/js/dashboard.js"></script>
<!-- End custom js for this page -->

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
    integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
    integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
    crossorigin="anonymous"></script>
</body>

</html>