<%- include('../userlayout/header.ejs') %>
    <%- include('../userlayout/navbar.ejs') %>


        <!--================Checkout Area =================-->
        <section class="checkout_area section_gap">
            <div class="container">
                <div class="billing_details">
                    <div class="row">
                        <div class="col-lg-8">
                            <h3>Add Address</h3>
                            <form class="row contact_form" method="post">
                                <div class="col-md-6 form-group">
                                    <input type="text" class="" placeholder="Name" name="username" required>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="number" class="" name="mobile" placeholder="Mobile" required>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="text" class="" name="housename" placeholder="House Name" required>
                                </div>
                                <div class="col-md-12 form-group">
                                    <input type="text" class="" name="landmark" placeholder="Your Landmark" required>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="text" class="" name="city" placeholder="City" required>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="text" class="" name="state" placeholder="State" required>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="number" class="" name="pincode" placeholder="Pincode" required>
                                </div>
                                <div class="col-md-12 form-group">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>




        <%- include('../userlayout/footer.ejs') %>