<%- include('../userlayout/header.ejs') %>
    <%- include('../userlayout/navbar.ejs') %>

        <section class="ec-page-content section-space-p">
            <div class="container">
                <div class="row">
                    <div class="ec-cart-leftside col-lg-8 col-md-12">
                        <div class="ec-cart-content">
                            <div class="ec-cart-inner">
                                <div class="row">
                                    <form action="#">
                                        <div class="table-content cart-table-content">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Product</th>
                                                        <th>Price</th>
                                                        <th style="text-align: center;">Quantity</th>
                                                        <th>Total</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td data-label="Product" class="ec-cart-pro-name">
                                                            <!-- Product Name Goes Here -->
                                                        </td>
                                                        <td data-label="Price" class="ec-cart-pro-price">
                                                            <!-- Product Price Goes Here -->
                                                        </td>
                                                        <td data-label="Quantity" class="ec-cart-pro-qty"
                                                            style="text-align: center;">
                                                            <!-- Quantity Field Goes Here -->
                                                        </td>
                                                        <td data-label="Total" class="ec-cart-pro-subtotal">
                                                            <!-- Product Subtotal Goes Here -->
                                                        </td>
                                                        <td data-label="Remove" class="ec-cart-pro-remove">
                                                            <!-- Remove Button Goes Here -->
                                                        </td>
                                                    </tr>
                                                    <% if (typeof message !=='undefined' ) { %>
                                                        <p style="text-align: center;color: red;">
                                                            <%= message %>
                                                        </p>
                                                        <% } %>

                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="ec-cart-update-bottom">
                                                    <a href="/shop-page" class="btn btn-primary">Continue Shopping</a>
                                                    <a href="/checkout-page" class="btn btn-primary">Check Out</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ec-cart-rightside col-lg-4 col-md-12">
                        <div class="ec-sidebar-wrap">
                            <div class="ec-sb-block-content">
                                <div class="ec-cart-summary-bottom">
                                    <div class="ec-cart-summary">
                                        <div>
                                            <span class="text-left">Sub-Total</span>
                                            <span class="text-right">$0.00</span>
                                        </div>

                                        <div class="ec-cart-coupon-content">
                                            <!-- Coupon Form Goes Here -->
                                        </div>
                                        <div class="ec-cart-summary-total">
                                            <span class="text-left">Total Amount</span>
                                            <span class="text-right">$0.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="d-flex">
                            <h6 class="" style="color: red;">This cart is empty. Order something...</h6>
                        </div>
                        <div class="media-body"></div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('../userlayout/footer.ejs') %>