<%- include('../userlayout/header.ejs') %>



	<!doctype html>
	<html lang="en">

	<head>
		<title>Login 10</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

		<link rel="stylesheet" href="/assets/css/style.css">

	</head>

	<body class="img js-fullheight" style="background-image: url(/assets/images/blog-image/1.jpg);">
		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6 text-center mb-5">
						<h2 class="heading-section">Login </h2>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-6 col-lg-4">
						<div class="login-wrap p-0">
							<h3 class="mb-4 text-center">Have an account?</h3>
							<form action="" class="signin-form" method="post">
								<div class="form-group">
									<input type="email" class="form-control" placeholder="email" name="email" required>
								</div>
								<div class="form-group">
									<input id="password-field" type="password" class="form-control"
										placeholder="Password" name="password" required>
									<span toggle="#password-field"
										class="fa fa-fw fa-eye field-icon toggle-password"></span>
								</div>
								<div class="form-group">
									<button type="submit" class="form-control btn btn-primary px-3">Sign In</button>
								</div>
								<div class="form-group d-md-flex pt-5">

									<div class="text-md-right pt-5">
										<h6><a href="/register" style="color: #fff;margin-left: 75px;;">Create an
												account? <span class="text-primary">Sign Up</span> </a></h6>
									</div>
								</div>
								<% if (typeof message !=='undefined' ) { %>
									<p style="text-align: center;color: red;">
										<%= message %>
									</p>
									<% } %>

							</form>

						</div>
					</div>
				</div>
			</div>
		</section>
	</body>

	</html>